.bg-washed-orange {
    background-color: #FEE8C2;
}

.hover-bg-dark-orange:hover {
    background-color: #da4d00;
}

.hover-bg-dark-yellow:hover {
    background-color: #e6bf00;
}

.dark-yellow {
    color: #cca700;
}

.spin {
    animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
